<h1>Login Page</h1>

<form action="/home/register" method="post">
    <input type="text" name="userName" value="" />
    <input type="password"  name="password" value="" />
    <button type="submit">Login</button>
</form>